@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body,
.container {
  min-width: 100vh;
  display: flex;
  flex-direction: row;
  background: #04000e;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Roboto Condensed', sans-serif;
}

@media (max-width:468px) {

  body,
  .container {
    display: flex;
    flex-direction: column;
  }
}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 270px;
  border-radius: 10%;
  grid-template-areas: "image""title""description";
  margin: 30px;
  box-shadow: 5px 5px 15px #000000;
  transform: perspective(1000px);
  transform-style: preserve-3d;
  cursor: pointer;
  font: roboto;
  background-color: #060016;
  max-width: max-content;


}

.image-box img {
  grid-area: 'image';
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  background-size: cover;
  width: 300px;
  height: 210px;
}

.text-content {
  grid-area: 'text''description';
  background-color: #060016;
  background-color: #060016;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  transform: translateY(5px);
  text-align: center;
  padding: 10px;
  justify-content: center;
  align-items: center;
}


.glow-effect:hover {
  background: linear-gradient(45deg,
      #ff0000 0%,
      #ff9a00 25%,
      #d0de21 50%,
      #00f000 75%,
      #0000ff 100%) repeat 0% 0% / 300% 100%
}

span {
  color: #666;
  font-size: 1rem;
  float: right;
}

h2 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  padding-top: 20px;
  margin: 0 auto;
  padding-left: 20px;
}

p {
  color: #ccc;
}